<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <a href="/booksPage" style="text-decoration: none; color: #111524; font-weight: 800;">
            <h1> <%= title %> </h1>
        </a>
    </header>