<%- include( '../partials/header') %>

<body>


    <ul>

        <% songs.forEach(song => { %>
        <%- include('../partials/song', { song: song }) %>
        <% }); %>
    </ul>

</body>


<%- include( '../partials/footer') %>